[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/e-erdal/spdlog.git
[submodule "Vendor/bgfx.cmake"]
	path = Vendor/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "Vendor/openal-soft"]
	path = Vendor/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Vendor/--recursive"]
	path = Vendor/--recursive
	url = https://github.com/jarikomppa/soloud.git
[submodule "Vendor/soloud"]
	path = Vendor/soloud
	url = https://github.com/jarikomppa/soloud.git
